<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragment::head}"></head>
<body>
<header th:replace="~{fragment::maintop}"></header>
<div th:replace="~{fragment::mobiletop}"></div>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a th:href="@{/}" rel="nofollow">Home</a>
                <!-- <span></span> Pages -->
                <span></span> Login / Register
            </div>
        </div>
    </div>
    <div th:if="${success}" class="text-center alert"
         style="background-color: #00b09b; color: #fff; padding: 10px; border-radius: 8px; margin: 10px auto; max-width: 200px;">
        <p th:text="${success}"></p>
        <script>
            setTimeout(function () {
                document.querySelector('.alert').style.display = 'none';
            }, 3000); // Hide the message after 3 seconds (adjust as needed)
        </script>
    </div>
    <div th:if="${error}" class="text-center alert error-alert">
        <p th:text="${error}" class="error-text" style="color:red"></p>
        <script>
            setTimeout(function () {
                document.querySelector('.error-alert').style.display = 'none';
            }, 3000); // Hide the message after 3 seconds (adjust as needed)
        </script>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login_wrap widget-taber-content p-20 background-white border-radius-5">
                    <div class="padding_eight_all bg-white">
                        <h3 class="text-center mb-3">Create an Account</h3>
                        <div th:if = "${success}">
                            <p class = "alert alert-success" th:text = "${success}"></p>
                        </div>
                        <div th:if = "${error}">
                            <p class = "alert alert-danger" th:text = "${error}"></p>
                        </div>
                        <form id="signupForm" th:action="@{/do-register}" method="POST" th:object="${customerDto}">
                            <div class="form-group mb-3">
                                <label for="firstName">First Name *</label>
                                <input type="text" id="firstName" name="firstName" placeholder="Enter your first name" th:field="*{firstName}" class="form-control">
                                <div class="error text-danger"></div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="lastName">Last Name *</label>
                                <input type="text" id="lastName" name="lastName" placeholder="Enter your last name" th:field="*{lastName}" class="form-control">
                                <div class="error text-danger"></div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="email">Email *</label>
                                <input type="email" id="email" name="username" placeholder="Enter your email" th:field="*{username}" class="form-control">
                                <div class="error text-danger"></div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="phone">Mobile Number *</label>
                                <input type="text" id="phone" name="mobileNumber" placeholder="Enter your mobile number" th:field="*{phoneNumber}" class="form-control">
                                <div class="error text-danger"></div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="password">Password *</label>
                                <input type="password" id="password" name="password" placeholder="Enter your password" th:field="*{password}" class="form-control">
                                <div class="error text-danger"></div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="rePassword">Confirm Password *</label>
                                <input type="password" id="rePassword" name="confirmPassword" placeholder="Confirm your password" th:field="*{confirmPassword}" class="form-control">
                                <div class="error text-danger"></div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="custome-checkbox">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox12" value="">
                                    <label class="form-check-label" for="exampleCheckbox12"><span>I agree to terms &amp; Policy.</span></label>
                                </div>
                                <div class="error text-danger"></div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Submit &amp; Register</button>
                            </div>
                        </form>
                        <div class="text-muted text-center">Already have an account? <a th:href="@{/login}">Sign in now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragment::downbar}"></footer>
<script th:src="@{/js/validation.js}"></script>
<script th:src="@{/js/vendor/modernizr-3.6.0.min.js}"></script>
<script th:src="@{/js/vendor/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/plugins/slick.js}"></script>
<script th:src="@{/js/plugins/jquery.syotimer.min.js}"></script>
<script th:src="@{/js/plugins/wow.js}"></script>
<script th:src="@{/js/plugins/jquery-ui.js}"></script>
<script th:src="@{/js/plugins/perfect-scrollbar.js}"></script>
<script th:src="@{/js/plugins/magnific-popup.js}"></script>
<script th:src="@{/js/plugins/select2.min.js}"></script>
<script th:src="@{/js/plugins/waypoints.js}"></script>
<script th:src="@{/js/plugins/counterup.js}"></script>
<script th:src="@{/js/plugins/jquery.countdown.min.js}"></script>
<script th:src="@{/js/plugins/images-loaded.js}"></script>
<script th:src="@{/js/plugins/isotope.js}"></script>
<script th:src="@{/js/plugins/scrollup.js}"></script>
<script th:src="@{/js/plugins/jquery.vticker-min.js}"></script>
<script th:src="@{/js/plugins/jquery.theia.sticky.js}"></script>
<!-- Template  JS -->
<script th:src="@{/js/main.js?v=3.4}"></script>
</body>

</html>