<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragment::head}"></head>

<body>
<header th:replace="~{fragment::maintop}"></header>
<div th:replace="~{fragment::mobiletop}"></div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <p class="text-center" th:if="${check}">
                                <i class="text-info font-weight-bold text-center"></i>
                                You don't have any items in your cart
                            </p>
                            <table class="table shopping-summery text-center clean" th:if="${grandTotal}">
                                <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="cartItem : ${shoppingCart.cartItems}">
                                    <td class="image product-thumbnail" >
                                        <img th:src="'data:image/jpeg;base64,' + ${cartItem.product.images[0].getName()}" alt="" />
                                    </td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name" th:text="${cartItem.product.name}"></h5>
                                        <p class="font-xs" th:text="${cartItem.product.description}"></p>
                                    </td>
                                    <td class="price" data-title="Price">
                                        <span th:text="'₹' + ${cartItem.unitPrice}"></span>
                                    </td>
                                    <form th:action="@{/update-cart}" method="post">
                                        <input type = "hidden" name = "productId" th:value = "${cartItem.product.id}" >
                                        <td class="quantity-box">
                                            <input type="number" name="quantity" th:value="${cartItem.quantity}" size="4"
                                                   value="1" min="1" step="1"
                                                   class="c-input-text qty text">
                                        </td>
                                        <td class="total-pr">
                                            <p th:text="'₹' + ${cartItem.unitPrice * cartItem.quantity}"></p>
                                        </td>
                                        <td>
                                            <button type="submit" name="action" value="update" title="Update"
                                                    class="btn btn-primary">
                                                Update
                                            </button>
                                            <button type="submit" name="action" value="delete" title="Delete"
                                                    class="btn btn-danger">
                                                Delete
                                            </button>
                                        </td>
                                    </form>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-action text-end">
                            <a class="btn" th:href="@{/index}"><i class="fi-rs-shopping-bag mr-10" ></i> Continue Shopping</a>
                        </div>
                        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                        <div class="container" th:if="${shoppingCart != null}">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-12">
                                    <div class="border p-md-4 p-30 border-radius cart-totals text-center">
                                        <div class="heading_s1 mb-3">
                                            <h4>Cart Totals</h4>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="cart_total_label" >Cart Subtotal</td>
                                                    <td class="cart_total_amount" th:text="'₹' + ${grandTotal}"><span class="font-lg fw-900 text-brand"></span></td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label" >Total</td>
                                                    <td class="cart_total_amount" th:text="'₹' + ${grandTotal}"><strong><span class="font-xl fw-900 text-brand"></span></strong></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <a href="#" class="btn" th:href="@{/check-out}"> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
<footer th:replace="~{fragment::downbar}"></footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script th:inline="javascript">
    // Function to confirm cart item removal
    function confirmRemoval(event) {
        event.preventDefault();

        Swal.fire({
            title: 'Are you sure?',
            text: 'You are about to remove this item from your cart',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, remove it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Navigate to the remove URL
                window.location.href = event.target.getAttribute('href');
            }
        });
    }

    // Function to remove a product using AJAX
    function removeProduct(productId) {
        console.log(productId);
        $.ajax({
            url: '/remove-item',
            type: 'post',
            data: { productid: productId },
            success: function (data) {
                if (data.status === 'success') {
                    Swal.fire({
                        title: 'Removed',
                        text: 'The product has been removed from your cart',
                        icon: 'success',
                        confirmButtonColor: '#d33',
                        confirmButtonText: 'Ok'
                    }).then(() => {
                        window.location.reload();
                    });

                    if (data.length === 0) {
                        document.getElementById('carttable').style.display = 'none';
                        document.getElementById('noItems').style.display = 'block';
                    }
                } else {
                    console.log('error');
                }
            },
        });
    }
</script>

    <!-- Vendor JS-->
<script th:src="@{/js/vendor/modernizr-3.6.0.min.js}"></script>
<script th:src="@{/js/vendor/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/plugins/slick.js}"></script>
<script th:src="@{/js/plugins/jquery.syotimer.min.js}"></script>
<script th:src="@{/js/plugins/wow.js}"></script>
<script th:src="@{/js/plugins/jquery-ui.js}"></script>
<script th:src="@{/js/plugins/perfect-scrollbar.js}"></script>
<script th:src="@{/js/plugins/magnific-popup.js}"></script>
<script th:src="@{/js/plugins/select2.min.js}"></script>
<script th:src="@{/js/plugins/waypoints.js}"></script>
<script th:src="@{/js/plugins/counterup.js}"></script>
<script th:src="@{/js/plugins/jquery.countdown.min.js}"></script>
<script th:src="@{/js/plugins/images-loaded.js}"></script>
<script th:src="@{/js/plugins/isotope.js}"></script>
<script th:src="@{/js/plugins/scrollup.js}"></script>
<script th:src="@{/js/plugins/jquery.vticker-min.js}"></script>
<script th:src="@{/js/plugins/jquery.theia.sticky.js}"></script>
<script th:src="@{/js/plugins/jquery.elevatezoom.js}"></script>
<!-- Template  JS -->
<script th:src="@{/js/main.js?v=3.4}"></script>
<script th:src="@{/js/shop.js?v=3.4}"></script>
</body>

</html>